body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0a3;
    font-size: 0.8rem;
}
.container {
    width: 450px;
    height: 500px;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 0 0 12px silver;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: relative;
    transition: opacity 0.8s ease-in-out;
    pointer-events: none;
}
.slide:first-child {
    pointer-events: auto;
    opacity: 1;
}
.slide:target {
    pointer-events: auto;
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: orangered;
    transition: opacity 0.6s ease;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 0 10px;
    border-radius: 7px;
    font-size: 45px;
    text-decoration: none;
}
.prev:hover, .next:hover {
    opacity: 0.6;
}
.prev {
    left: 10px;
    cursor: pointer;
}
.next{
    right: 10px;
}
.slide h3 {
    position: absolute;
    top: -27px;
    left: 5px;
    font-size: 30px;
    color: orangered;
}