body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0a1;
}
.container {
    width: 650px;
    height: 300px;
    position: relative;
    height: 350px;
    border: 5px solid black;
    border-radius: 7px;
    margin: 30px auto;
    overflow: hidden;
}
input[type="radio"] {
    display: none;
}
.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}
.slider:hover {
    animation: AnimationSlide 25s infinite ease-in-out forwards;
    transition: transform .6s ease;
}
@keyframes AnimationSlide {
    0%{transform: translateX(0);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    100%{transform: translateX(-400%);}
}
.slider .slide {
    flex: 1 0 100%;
    height: 100%;
}.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dots {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 20px;
}
.dots label {
    width: 15px;
    height: 15px;
    background-color: #706d6d;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}
.dots label:hover {
    background-color: rgba(255,255, 255, 0.643);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255. 0.6);
}
#image1:checked ~ .slider {
    transform: translateX(0);
}
#image2:checked ~ .slider {
    transform: translateX(-100%);
}
#image3:checked ~ .slider {
    transform: translateX(-200%);
}
#image4:checked ~ .slider {
    transform: translateX(-300%);
}
#image5:checked ~ .slider {
    transform: translateX(-400%);
}

/* to glow the current dot */
#image1:checked ~ .dots label[for="image1"],
#image2:checked ~ .dots label[for="image2"],
#image3:checked ~ .dots label[for="image3"],
#image4:checked ~ .dots label[for="image4"],
#image5:checked ~ .dots label[for="image5"] {
    background-color: rgba(255, 255, 255, 0.643);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.9);
    animation:  glow 1.5s infinite ease-in-out;
}
@keyframes glow {
    0%{box-shadow: 0 0 15px 5px rgba(255,255, 255, 0.6);}
    50%{box-shadow: 0 0 15px 5px rgba(255, 255, 255, .8);}
    100%{box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);}
}